.btn-primary {
  aspect-ratio: 3.71;
  background-color: #ec407a;
  border: none;
  border-radius: 8px;
  gap: 20px;
  height: 47px;
  overflow: hidden;
  padding: 8px 20px;
  position: relative;
  top: 20px;
  width: 174px;
}

.text-white {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.97px;
  position: relative;
  text-align: center;
  width: 86px;
}

.ms-2 {
  background-image: url(https://c.animaapp.com/wp42VXhS/img/icon-calendar-3.svg) !important;
  height: 28.04px !important;
  margin-right: -0.97px !important;
  width: 30.06px !important;
}
